<?php
$CONFIG = array (
  'datadirectory' => '/data',
  'instanceid' => 'xxxxxx',
  'passwordsalt' => 'xxxxxx',
  'secret' => 'xxxxxx/xxxxxxx',
  'trusted_domains' =>
  array (
    0 => 'rpi1.local:5443',
  ),
  'dbtype' => 'sqlite3',
  'version' => '30.0.2.2',
  'overwrite.cli.url' => 'https://rpi1.local:5443',
  'installed' => true,
  'objectstore' =>
  array (
    'class' => '\\OC\\Files\\ObjectStore\\S3',
    'arguments' =>
    array (
      'bucket' => 'nextcloud-test',
      'hostname' => '192.168.0.11',
      'key' => 'xxxxxxx',
      'secret' => 'xxxxxx',
      'port' => 80,
      'use_ssl' => false,
      'use_path_style' => true,
    ),
  ),
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'filelocking.enabled' => true,
  'memcache.locking' => '\\OC\\Memcache\\APCu',
  'upgrade.disable-web' => true,
);
